/*******************************************************************
* Content - Layout
* Created by: TheBusTeD (kwang@kingsfield.asia, tksumeth@gmail.com)
* Date time: January 13, 2015
*******************************************************************/

.content {
	height: 100%;
	margin-left: $left-width;
	overflow: auto;
	position: relative;
}