/*******************************************************************
* Gallery - Page
* Created by: TheBusTeD (kwang@kingsfield.asia, tksumeth@gmail.com)
* Date time: January 19, 2015
*******************************************************************/

$gallery-bottom: 148px;
$category-height: 36px;
$thumbnail-height: 112px;
.gallery {
	background-color: $cl-black;
	overflow: hidden;
	
	// Monitor
	.monitor {
		bottom: $gallery-bottom;
		left: 0;
		overflow: hidden;
		position: absolute;
		right: 0;
		top: 0;
		.screen {
			display: table;
			height: 100%;
			width: 100%;
			.figure {
				display: table-cell;
				position: relative;
				vertical-align: middle;
				z-index: 1;
				img {
					max-height: 100%;
					opacity: 0.1;
					@include transition(opacity 400ms ease);
				}
				&.selected {
					img {
						opacity: 1;
					}
				}
				.video {
					background-color: rgba($cl-black, 0.7);
					color: $cl-white;
					font-size: 60px;
					left: 50%;
					line-height: 50px;
					margin: -40px 0 0 -50px;
					opacity: 0.4;
					outline: none;
					padding: 9px 0;
					position: absolute;
					text-align: center;
					text-decoration: none;
					top: 50%;
					width: 100px;
					@include border-radius(5px);
					&:hover {
						opacity: 1;
					}
				}
			}
		}
		.arrow {
			cursor: pointer;
			height: 60px;
			margin: -30px 0 0;
			position: absolute;
			top: 50%;
			width: 30px;
			@include transform(translate3d(0,0,0));
			span {
				background-color: $cl-white;
				display: block;
				height: 3px;
				position: absolute;
				top: 50%;
				width: 30px;
				@include transition(all 200ms ease);
			}
			&.arrow-left {
				left: 10px;
				span {
					@include transform-origin(0 50%);
					&:first-child {
						@include transform(translate(0,-1px) rotate(43deg));
					}
					&:last-child {
						@include transform(translate(0,1px) rotate(-43deg));
					}
				}
				&:hover {
					span {
						&:first-child {
							@include transform(translate(0,-1px) rotate(33deg));
						}
						&:last-child {
							@include transform(translate(0,1px) rotate(-33deg));
						}
					}
				}
				&.disabled,&.disabled:hover {
					span {
						opacity: 0.1;
						&:first-child {
							@include transform(translate(0,0) rotate(0));
						}
						&:last-child {
							@include transform(translate(0,0) rotate(0));
						}
					}
				}
			}
			&.arrow-right {
				right: 10px;
				span {
					@include transform-origin(100% 50%);
					&:first-child {
						@include transform(translate(0,-1px) rotate(-43deg));
					}
					&:last-child {
						@include transform(translate(0,1px) rotate(43deg));
					}
				}
				&:hover {
					span {
						&:first-child {
							@include transform(translate(0,-1px) rotate(-33deg));
						}
						&:last-child {
							@include transform(translate(0,1px) rotate(33deg));
						}
					}
				}
				&.disabled,&.disabled:hover {
					span {
						opacity: 0.1;
						&:first-child {
							@include transform(translate(0,0) rotate(0));
						}
						&:last-child {
							@include transform(translate(0,0) rotate(0));
						}
					}
				}
			}
		}
	}
	
	// Controller
	.controller {
		bottom: 0;
		height: $gallery-bottom;
		left: 0;
		position: absolute;
		right: 0;
		
		// Categories
		.categories {
			background-color: $cl-blue;
			height: $category-height;
			list-style: none;
			margin: 0;
			overflow: hidden;
			padding: 0 0 0 10px;
			li {
				float: left;
				a {
					display: block;
					color: $cl-white;
					cursor: pointer;
					font-size: 12px;
					line-height: $category-height;
					opacity: 0.5;
					padding: 0 15px;
					text-decoration: none;
					text-transform: uppercase;
					&:hover {
						opacity: 1;
					}
					&.selected,&.selected:hover {
						font-weight: 700;
						opacity: 1;
					}
				}
				&:last-child {
					float: right;
					a {
						font-size: 1.4em;
						line-height: $category-height + 2;
					}
				}
			}
		}
		
		// Thumbnail
		.thumbnails {
			display: table;
			height: $thumbnail-height;
			list-style: none;
			margin: 0;
			overflow: hidden;
			padding: 0;
			li {
				display: table-cell;
				position: relative;
				a {
					cursor: pointer;
					display: block;
					opacity: 0.6;
					padding: 6px 3px;
					&:hover {
						opacity: 0.7;
					}
				}
				&:first-child {
					a {
						padding-left: 6px;
					}
				}
				&:last-child {
					a {
						padding-right: 6px;
					}
				}
				&.selected {
					&::after {
						content: 'r';
						bottom: 8px;
						color: $cl-white;
						font-family: "phu-dahla";
						font-size: 20px;
						position: absolute;
						right: 8px;
					}
					a {
						opacity: 1;
					}
				}
			}
		}
	}
}