/*******************************************************************
* Config - Helper
* Created by: TheBusTeD (kwang@kingsfield.asia, tksumeth@gmail.com)
* Date time: January 13, 2015
*******************************************************************/

// Path
$font-path: '../fonts/';
$img-path: '../img/';

// Color
$cl-pantone: #b1a777;
$cl-pantone-2: #d8cfa3;
$cl-pantone-3: #d8d1b1;
$cl-pantone-4: #e5dfdc;
$cl-brown: #65614d;
$cl-gray: #e0e0e0;
$cl-gray-2: #666;
$cl-gray-3: #d8d7d2;
$cl-gray-4: #999;
$cl-gray-5: #f0f0f0;
$cl-gray-6: #cfcfcf;
$cl-white: #fff;
$cl-teal: #26a9e0;
$cl-blue: #13649b;
$cl-blue-2: #0083be;
$cl-facebook: #3b5998;
$cl-black: #000;
$cl-green: #15a797;

// Template
$left-width: 280px;