/*******************************************************************
* Left Solid - Theme
* Created by: TheBusTeD (kwang@kingsfield.asia, tksumeth@gmail.com)
* Date time: January 13, 2015
*******************************************************************/

html,body {
	height: 100%;
	width: 100%;
}
body {
	background-color: $cl-white;
	font-family: $ff-opensans;
}