/*******************************************************************
* Goto Top - Component
* Created by: TheBusTeD (kwang@kingsfield.asia, tksumeth@gmail.com)
* Date time: December 19, 2014
*******************************************************************/

.gototop {
	background-color: rgba(0,0,0,0.7);
	bottom: 20px;
	cursor: pointer;
	display: none;
	position: fixed;
	right: 20px;
	z-index: 9999;
	@include border-radius(3px);
	> span {
		color: #FFF;
		display: block;
		height: 30px;
		line-height: 30px;
		text-align: center;
		width: 30px;
	}
}